@font-face {
    font-family: Cascadia;
    src: url(Cascadia.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cascadia;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #111;
}

#page1,#page2,#page3{
    height: 100%;
    width: 100%;
}

#move{
    background-color: #D8FF04;
    display: flex;
    padding: 2vw 0;
    overflow: hidden;
}

.marque {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 3vw;
    padding: 0 1.5vw;

    transform:translateX(-100%);
}

#move .marque img{
    height: 4vw;
}

#move .marque{
    font-size: 2vw;
    font-weight: 700;
}